/* Simplicy random post 1.6 */

/*Mise en forme Générale du widget*/
.SP-random-post{ 
list-style:none; !important
margin-bottom:10px; 
margin-top:10px;
width:100%;
 } 
#random-post-widget li {
 list-style:none; 
}
/* Couleur des liens */
.SP-random-post a { } 
/* Mise en forme des liens*/
.SP-random-post a:hover { text-decoration:none; } 

/* Mise en forme du texte */
.SP-random-post p {  } 

/* Titre des articles : taille de la police, marge couleur du lien */
.random-post-title{
 margin-bottom:5px; 
 font-size:16px;

 }
.random-post-title a{  /* Titre des articles  couleur du lien : exemple color:#0066FF */ }
.random-post-title a:hover{ /* Titre des articles  couleur du lien au passage de la souris : exemple color:#0000 */ }

/* Séparation et espace entre les articles */
.SP-random-post-clear { width:100%;border-top: dotted 1px #CCCCCC; height:5px; !important } 
.SP-random-post-clear-top { width:100%; height:5px; !important } 
/* Mise en forme image alignement, bordure , marge */
.simplicy-random-post-img {
padding: 5px 5px 5px 0;
float:left;
} 

/* Mise en forme date alignement, taille de la police , marge */
.simplicy-date_random-post {
font-size:11px;
margin-top:10px;
 } 
 
/* Mise en forme icon reaload */
.icon-reload { width:36px; height:22px; float:right; background:url(../img/reload_icon.png) no-repeat;}
#refreshTime{ display:none;} 
 
 
